
.nav-color {
    background-color: black;
    color: white;
}

/* update head nav bar color */
header.mdl-layout__header.mdl-layout__header--scroll {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Landing / Home Page */
.landing-grid {
    width: 100%;
    height: 100%;
    text-align: center;
}


.head-prof-grid {
    display: flex;
    margin: auto;
    margin-top: 5%;
    height: 600px;
    width: 95%;
    text-align: center;
    background-color: rgba(237, 237, 237, 1);
}

.head-prof-grid img {
    margin: auto;
}

.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius:50%;
    border: 15px solid rgba(255, 255, 255, 0.3);
}

.greeting {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

div.mdl-grid.landing-grid {
    padding: 0;
}

.banner-text {
    width: 40%;
    height: 250px;
    margin: auto;
}

.banner-text h1 {
    font-size: 40px;
    color: black;
}

.banner-text h3 {
    font-size: 25px;
    color: black;
}

.banner-text p {
    font-size: 20px;
    color: black;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: black;
    font-size: 3em;
    padding: 10px;
}

.project-quickview {
    height: 600px;
}

.project-quickview h1{
    font-size: 35px;
}

div.mdl-card__supporting-text {
    height: 80px;
}

/* Projects Page */
h2.mdl-card__title-text {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px 15px 5px 15px;
}

div.projects-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}


/* Resume page */
div.mdl-layout__content {
    text-align: center;
}

canvas.react-pdf__Page__canvas {
    border: 4px solid lightgray;
    margin: auto;
    margin-top: 1%;
    width: 80% !important;
    height: 100% !important;
}

div.download-button {
    text-align: center;
    margin-top: 50px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}


/* Education Section */
.education-quickview h1{
    font-size: 35px;
}
.education-grid {
    margin-top: 5%;
    display: flex;
}



/* Blog design */
div.markdown-design{
    margin: auto;
    width: 60%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: rgba(237, 237, 237, 1); */
}

/* Code highlight */
pre {
    background-color: rgb(183,208,223, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.markdown-design div {
    padding: 20px;
}
